<% layout('layouts/boilerplate') %>
<section id="todo">
    <div id="todo-container">
        <h1>To Do List</h1>
        <form id="todo-new" action="/todo" method="POST">
            <input class="priority-input" type="number" name="priority" placeholder="Priority" autocomplete="off">
            <input class="task-input" type="text" name="task" placeholder="New Task" autocomplete="off">
            <div>
                <button class="submit-btn">Submit</button>
            </div>
        </form>
        <% for (let toDo of toDos) { %>
        <div id="todo-item">
            <div id="todo-item-start">
                <form id="complete-form" action="/todo/<%=toDo._id%>?_method=PUT" method="POST">
                    <% if (toDo.complete === false) { %>
                    <button class="unchecked-btn" name="complete" value="<%= toDo.complete %>"></button>
                    <% } else { %>
                    <button class="checked-btn" name="complete" value="<%= toDo.complete %>">&#10004;</button>
                    <% } %>
                </form>
            </div>
            <div id="todo-item-middle">
                <% if (toDo.complete === true) { %>
                <p class="complete"><%= toDo.priority %>. <%= toDo.task %></p>
                <% } else { %>
                <p><%= toDo.priority %>. <%= toDo.task %></p>
                <% } %>
            </div>
            <div id="todo-item-end">
                <a href="/todo/<%= toDo._id %>"><button class="edit-btn">Edit</button></a>
                <form action="/todo/<%= toDo._id %>?_method=DELETE" method="POST">
                    <button class="delete-btn">Delete</button>
                </form>
            </div>
        </div>
        <% } %>
        <% if (toDos.length > 0) { %>
        <form id="delete-all" action="/todo/?_method=DELETE" method="POST">
            <button id="delete-all-btn">Delete All</button>
        </form>
        <% } %>
    </div>
</section>